body{
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#cabecera{
  color: rgb(66, 218, 28);  
}
#foother{
  background-color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}